In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("data.csv")
print(df)

            date         price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0     02-05-2014  3.130000e+05         3       1.50         1340      7912
1     02-05-2014  2.384000e+06         5       2.50         3650      9050
2     02-05-2014  3.420000e+05         3       2.00         1930     11947
3     02-05-2014  4.200000e+05         3       2.25         2000      8030
4     02-05-2014  5.500000e+05         4       2.50         1940     10500
...          ...           ...       ...        ...          ...       ...
4595  09-07-2014  3.081667e+05         3       1.75         1510      6360
4596  09-07-2014  5.343333e+05         3       2.50         1460      7573
4597  09-07-2014  4.169042e+05         3       2.50         3010      7014
4598  10-07-2014  2.034000e+05         4       2.00         2090      6630
4599  10-07-2014  2.206000e+05         3       2.50         1490      8102

      floors  waterfront  view  condition  sqft_above  sqft_basement  \
0        1.5           0     0          3        1340              0
1        2.0           0     4          5        3370            280
2        1.0           0     0          4        1930              0
3        1.0           0     0          4        1000           1000
4        1.0           0     0          4        1140            800
...      ...         ...   ...        ...         ...            ...
4595     1.0           0     0          4        1510              0
4596     2.0           0     0          3        1460              0
4597     2.0           0     0          3        3010              0
4598     1.0           0     0          3        1070           1020
4599     2.0           0     0          4        1490              0

      yr_built  yr_renovated                    street       city  statezip  \
0         1955          2005      18810 Densmore Ave N  Shoreline  WA 98133
1         1921             0           709 W Blaine St    Seattle  WA 98119
2         1966             0  26206-26214 143rd Ave SE       Kent  WA 98042
3         1963             0           857 170th Pl NE   Bellevue  WA 98008
4         1976          1992         9105 170th Ave NE    Redmond  WA 98052
...        ...           ...                       ...        ...       ...
4595      1954          1979            501 N 143rd St    Seattle  WA 98133
4596      1983          2009          14855 SE 10th Pl   Bellevue  WA 98007
4597      2009             0          759 Ilwaco Pl NE     Renton  WA 98059
4598      1974             0         5148 S Creston St    Seattle  WA 98178
4599      1990             0         18717 SE 258th St  Covington  WA 98042

     country
0        USA
1        USA
2        USA
3        USA
4        USA
...      ...
4595     USA
4596     USA
4597     USA
4598     USA
4599     USA

[4600 rows x 18 columns]

In [9]:
x=df[['bedrooms','bathrooms']]
print(x)
y=df[['price']]
y

      bedrooms  bathrooms
0            3       1.50
1            5       2.50
2            3       2.00
3            3       2.25
4            4       2.50
...        ...        ...
4595         3       1.75
4596         3       2.50
4597         3       2.50
4598         4       2.00
4599         3       2.50

[4600 rows x 2 columns]

             price
0     3.130000e+05
1     2.384000e+06
2     3.420000e+05
3     4.200000e+05
4     5.500000e+05
...            ...
4595  3.081667e+05
4596  5.343333e+05
4597  4.169042e+05
4598  2.034000e+05
4599  2.206000e+05

[4600 rows x 1 columns]

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Load your dataset into a Pandas DataFrame
# Assuming your data is in a CSV file named 'house_data.csv'
data = pd.read_csv('data.csv')

# Select features (square footage, number of bedrooms, number of bathrooms)
X = data[['sqft_living', 'bedrooms', 'bathrooms']]
y = data['price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and fit the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared Score: {r2}")

# Example prediction
example_house = [[2000, 3, 2]]  # Square footage: 2000, Bedrooms: 3, Bathrooms: 2
predicted_price = model.predict(example_house)
print(f"Predicted Price for the example house: ${predicted_price[0]}")

Mean Squared Error: 991204834716.4768
R-squared Score: 0.02808413801628229
Predicted Price for the example house: $528017.1113481836

C:\Users\arunp\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(